{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "flowtype"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "module": false,
    "require": false,
    "__dirname": false,
    "document": false,
    "process": false,
    "fetch": false,
    "Proxy": false,
    "global": false
  },
  "rules": {
    "semi": ["warn", "never"],
    "no-unused-vars": "warn",
    "no-undef": "error",

    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",

    "flowtype/define-flow-type": "warn"
  }
}
