{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  }
  "rules": {
    "semi": ["warn", "never"],
    "no-unused-vars": ["warn"]
  }
}
